body{
    margin: 0;
}
header{
    background-image: url('../img/banner.jpg');
    width: 100%;
    height: 400px;
    color:#ffffff;
    background: cover;
    padding-top:100px;
}
h1{
    text-align: center;
    font-size: 4em;
    font-family: 'Cutive Mono', monospace;
}
h2{
    text-align: center;
    font-size:3em;
    margin:50px ;
    font-family: 'DM Serif Display', serif;
    color: #000;
}
p{
    font-size:1.3em;
    text-align: right;
    padding-left: 250px;
    padding-right: 250px;
    font-family: 'Cutive Mono', monospace;
}
.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.img-wrapper{
    position: relative;
    overflow: hidden;
}
.img-wrapper > img{
    display: inline-block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
.img-wrapper > .content{
    position: absolute;
    inset: 0;
    font-size:1.1rem;
    padding-top: 7rem;
    background: rgba(255, 255, 255, .4);
    justify-content: center;
    text-align:center;
    font-family: 'Cutive Mono', monospace;
}
.img-wrapper > img,
.img-wrapper > .content{
    transition: 200ms ease-in-out;
}
.img-wrapper:hover > .img.fade{
    filter:blur(5px);
}
.img-wrapper > .content.fade{
    opacity: 0;
}
.img-wrapper:hover > .content.fade{
    opacity: 1;
}
article{
    margin-left:200px ;
    margin-right:200px ;
    padding: 0 50px;
}
img{
    height: 150px;
    width: 200px;
    padding: 0 5px 5px 5px
}

li:hover{
    background-color: #426bad;
    color:#ffffff;
}
a{
    text-decoration: none;
    color:#12284b;
}
.nav{
    width: 80%;
    height: 100px;
    margin-left: 320px;
    margin-right: 100px;
}
.nav li{
    font-family: 'Cutive Mono', monospace;
    width: 70px;
    height: 15px;
    padding: 20px;
    margin-right:7px;
    text-align: center;
    border-radius: 20px;
    display:inline-block;
    border: 3px solid #426bad;
    font-weight: bold;
}
.picture-box{
    margin-left:200px ;
    margin-right:200px ;
    padding: 0 50px;
    display: inline-block;
}